/* Estilos para el contenedor de las imágenes de los perros */
#petsGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.pet-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.pet-card img {
  max-width: 100%;
  border-radius: 5px;
  height: auto;
}

.pet-card h3 {
  margin: 10px 0;
}

.pet-card p {
  font-size: 14px;
}

.pet-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pet-card button:hover {
  background-color: #45a049;
}
