/* Establece el fondo blanco para la página */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Fondo blanco */
  }
  
  /* Centrar contenido en el contenedor */
  .center-content {
    text-align: center;
    max-width: 600px; /* Limitar el ancho máximo si lo deseas */
    width: 100%;
  }
  
  /* Imagen más grande y centrada */
  .mascotas-image {
    width: 500px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 50px; /* Espacio entre la imagen y el botón */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Asegura que la imagen esté centrada */
  }
  /* Botón */
.ver-mascotas-btn {
    padding: 15px 30px;
    font-size: 18px;
    color: #333; /* Texto en gris oscuro */
    background-color: #fff; /* Fondo blanco */
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: all 0.3s ease; /* Transición suave para el hover */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold; /* Texto en negrita */
    letter-spacing: 1px; /* Espaciado entre letras */
  }
  
  /* Efecto hover (intensificando la luz) */
  .ver-mascotas-btn:hover {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Mantener texto gris */
    border-color: #ffffff; /* Mantener borde gris claro */
    box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(128, 128, 128, 0.7); /* Aumentar la intensidad de la luz */
  }
  