.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transform: translateX(-100%);  /* Ocultar la barra lateral por defecto */
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.show {
    transform: translateX(0);  /* Mostrar la barra lateral cuando se activa */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
  .sidebar button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  